.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
p{
  text-align: left;
}

.accordion {
  background-color: #eee;
  color: #444;
  padding: 15px;
  cursor: pointer;
  width: 97%;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: 0.4s;
}

.accordion.active, .accordion:hover {
  background-color: #ddd;
}
.box {
  width: 100%;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 10px;
}
.text {
  width: 95%;
  padding: 0 20px;
  background-color: white;
  display: none;
}
.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; 
}